.header{
	margin:0;
	padding: 0px;
	font-family: sans-serif;
	text-align: center;
	background-position: left;
	background-size: 250px 500px;
	color: black;
	height: 100%;
	width: 100%;

}
.navigation {
	padding: 0px;
	margin: 0px;
}
.corporate partners {
    list-style: circle;
    list-style-position: inside;
    list-style-image: inherit;
    padding-right: 50px;
    padding-bottom: 50px;
    white-space: inherit;
}
h2{
    text-align: center;
}
ul li{
	list-style-type: circle;
	color:black;
	text-align: left;
    list-style-image: inherit;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  color: black;
  background-color: white;
  padding:5px 15px;
   
}
nav ul li a{
  color:midnightblue;
}
p {
   float:inherit;
   text-align: justify;
   color: black;
    
}
    