.header{
	margin:0;
	padding: 0px;
	font-family: sans-serif;
	text-align: center;
	background-position: left;
	background-size: 250px 500px;
	color: black;
	height: 100%;
	width: 100%;

}
.navigation {
	padding: 0px;
	margin: 0px;
}
.images {
    text-align: left;
}
h2{
    text-align: center;
}
ul li{
	list-style-type: circle;
	color:white;
	text-align: left;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  color: purple;
  background-color: white;
  padding:5px 15px;
   
}
nav ul li a{
  color: blue;
}
p {
   float:inherit;
}
    